body {
  background: rgba(242, 222, 117, 1)
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.navbar-nav > .active  a{
  color : rgb(168, 121, 50);
}